.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#testimoni {
    text-align: center;
    border-bottom: 2px double;
}
.judul {
    color: #05095c;
    border-bottom: 1px dotted;
}
.judul2 {
    color: #5c050a;
}

.avatar{
    width: 100px;
}

.pernyataan {
    font-size: 1rem;
    margin-top: 20px;
}

.nama {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 20px;
    color: darkslateblue;
}
#kontak {
    color: #05095c;
}
.ini{
    color: #5c050a;
}
.icon {
    color: #262625;
}
.content {
    color: #5f6909;
}
.content a{
    text-decoration: none;
}
@media (max-width: 576px) {
    a.navbar-brand{
        font-size: 0.9rem;
    }
}